body {
  background: url("/thomas-lefebvre-mT1uxKaegSQ-unsplash.jpg") no-repeat center
    center fixed;

  height: 2000px;
}

a {
  text-decoration: none;
  color: azure;
}

.container {
  margin-left: 120px;
  margin-right: 80px;
}

.header {
  background-color: rgb(225, 225, 225, 0.1);
  width: 100%;
  position: sticky;
  top: 0px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.nav > a {
  margin-right: 20px;
}

.main {
  margin-top: 50px;
  margin-right: 20px;
}

.intro {
  display: flex;
  justify-content: space-between;
}

.introduction {
  margin-right: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  
}

.highlight{
  color:aqua;
}

.edu-heading{
  text-align: center;
}

.edu-school{
  display: flex;
  justify-content: space-evenly;
}

.edu-card-1{
  /* border: 1px solid rebeccapurple; */
  margin-right: 20px;
  padding-left: 30px;
}

.edu-card-2{
  /* border: 1px solid rebeccapurple; */
  margin-left: 20px;
  padding-left: 30px;
}
.skill-heading{
  text-align: center;
}
.skills-matching {
  display: flex;
  justify-content: flex-start;
}

.skill-name {
  font-weight: bold;
}

.skills {
  margin-left: 70px;
}

.skill-card{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.exp-cards{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.experience-heading{
  text-align: center;
}